html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding-top: 5rem;
  height: 100%;
  color: #eaeaea;
}

.maincontent {
  text-align: center;
}
.outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-page {
  justify-content: center;
}

nav {
  background-color: transparent;
}

.navbar-brand, .logo {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #555;
  background-image: linear-gradient(#555, #222);
 /* TODO, we could have much fancier graphice */
}

/* TODO, this btn stuff is icky */
.maincontent a:not(.btn) {
  color: #afcfff;
}

.maincontent a:visited:not(.btn) {
  color: #dfafdf;
}

.maincontent a:hover:not(.btn) {
  color: #8fcfff;
}


.maincontent a:active:not(.btn) {
  color: #4fcfff;
}
