- var title = "About"
extends ./templates/template.jade
block content
  h1 About
  h3 Wobscale &mdash; the Term
  p <i>Wobscale</i> is a corruption of the term <i>Webscale</i>. <i>Webscale</i>, much like <i>The Cloud</i>, is a vague buzzword for modern technology. By corrupting the term, we hope to poke fun at it. Also, it just rolls off the tongue and sounds great!
  h3 Wobscale &mdash; the Team
  p
    | First and foremost, we're a bunch of internet friends trying to have a good time. We're not trying to make hoards of cash nor do we think we'll create anything world-shattering. We're trying to have fun and learn things. <br>
    | That being said, we're also not <i>just</i> a joke. Our <a href="/services.html">Services</a> will be run to the best of our ability. We'll be accountable for our actions and obligations. You can trust us :)
  h3 Wobscale Technologies &mdash; the LLC
  p Wobscale Technologies, LLC is an LLC created by the Wobscale Team. It's registered in the state of Washington. Our ASN is xyz.
