extends ./templates/template.jade
block vars
  - var title = "services"
block content
  h1 Services
  p Wobscale Technologies, LLC is responsible for the following services:
  ul
    li: a(href="/services/colocation.html") Server Colocation
