<!DOCTYPE html>
<html>
    <head>
        <title>Wobscale</title>
        <link rel="stylesheet" href="site.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Rubik">
    </head>
    <body>
        <header>
            <h1><a href="/"><img src="/wobscale.svg" alt="Wobscale"></a></h1>
            <p class="slogan">Scaling the Wob since <abbr title="Year of Our Lady of Discord">YOLD</abbr> 3182</p>
        </header>

{{ content }}

        <footer>
            <p>&copy; 2k18 Wobscale Technologies, LLC</p>
        </footer>

    </body>
</html>
